*{
  -webkit-user-select: none;
  user-select: none;
}

#wrap{
  position: fixed;
  top: 0; left: 0;

  width: 100%;
  height: 100%;
}

#start{
  position: fixed;
  top: 50%; left: 50%;
  
  display: inline-block;
  font-size: 5em;
  text-align: center;

  transform: translate(-50%,-50%);
}

#end{
  position: fixed;
  top: 0; left: 0;
  
  display: none;
  font-size: 2.5em;
  text-align: center;
}

#time{
  position: fixed;
  top: 50%; left: 50%;
  
  display: none;
  font-size: 8em;
  width: -webkit-fit-content; 
  width: fit-content;
  padding: .25em .5em;

  pointer-events: none;

  transform: translate(-50%,-50%);
}

.asset{
  position: fixed;
  bottom: 0;
  right: 0;

  font-size: 1em;
  padding-right: 1em;
}